body {
  background-color: #777;
}

header {
  height: 100px;
  background-color: #AAA;
}

h1 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 80px;
  line-height: 100px;
}

main {
  width: 960px;
  margin: 0 auto;
  font-size: 0;
  font-weight: bold;
}

div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
  line-height: 300px;
  font-family: 'Poiret One', cursive;
  color: white;
}

img {
  object-fit: cover;
  width: 298px;
  height: 298px;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

img:hover {
  filter: brightness(0.8);
}

canvas {
  margin: 10px;
  background-color: #EEE;
}